 .cabecalho {
    background: rgb(222, 222, 220);
    padding: 20px 0;
 }

 .caixa {
    width: 1280px;
    position: relative;
    margin: 0 auto;
 }

 nav {
    position: absolute;
    top: 110px;
    right: 0px;
 }

 nav li {
    display: inline;
    margin: 0 0 0 15px;
 }

 nav a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: #000000;
 }

 nav a:hover {
    color: #4444AA;
    text-decoration: underline;
 }

 .imagens-produto {
    height: 300px;
    width: 300px;
 }

 .lista-produtos {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
 }

 .lista-produtos li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 40px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
 }

 .lista-produtos li:hover {
    border-color: aquamarine;
 }

 .lista-produtos li:hover h2 {
    font-size: 40px;
 }

 .lista-produtos li:hover p {
    font-size: 25px;
 }

 .lista-produtos li:hover img {
    height: 350px;
    width: 350px;
 }

 .lista-produtos h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
 }

 .lista-produtos p {
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    display: inline;
 }

 .rodape {
    text-align: center;
    background-color: rgb(222, 222, 220);
    padding: 30px;
 }

 .rodape img {
    height: 150px;
    width: 150px;
 }

 .rodape p {
   font-size: 15px;
   margin-top: 20px;
   margin-bottom: 10px;
   line-height: 25px;
 }